body {
color: black;
background:black;
margin: 0px;
font-family: "Merriweather", serif;
margin-bottom: 100px;
}

header {
    border-bottom: solid 2px rgb( 139, 133, 4);
    padding: 20px;
    font-size: 32px;
    color: rgb( 139, 133, 4);
}

.chamada {
    background: rgb( 139, 133, 4);
    padding-bottom: 80px;
    padding-top: 2px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}

h1 {
font-size: 40px;
}

p {
    font-size: 20px;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 20px;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

.categoria-videos img {
    opacity: 0.5;
    height: 200px;
}

.categoria-videos img:hover{
    opacity: 1.0;
    border: 1px solid goldenrod;
}

.categoria h2{
    color: rgb( 139, 133, 4);
}

.categoria-videos2 {
    display: flex;
    overflow-x: auto;
    gap: 20px;
}

.categoria2 {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

.categoria-videos2 img {
    opacity: 0.5;
    height: 200px;
}

.categoria-videos2 img:hover{
    opacity: 1.0;
    border: 1px solid goldenrod;
}

.categoria h3{
    color: rgb( 139, 133, 4);
}
